[Unit]
Description=Shadowsocks Client Service
After=network.target

[Service]
Type=simple
User=sun
ExecStart=/usr/bin/sslocal -c /etc/shadowsocks.json

[Install]
WantedBy=multi-user.target

